html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.generalDiv{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.titleDiv{
    background-color: rgb(177, 177, 177);
    border-bottom: 1px solid rgb(172, 172, 172);
    display:flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.titleDiv h1{
    margin: 20px;
    font-size: 25px;
    color:rgb(126, 67, 182);
    font-family: 'Roboto', sans-serif;
}
.mainContainer{
    background-color: rgb(230, 230, 230);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
}
.optionsMain{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
    background-color: rgb(199, 199, 199);
    width: 500px;
    min-height: 20%;
    margin: 25px 10px 25px 10px;
    border-radius: 2px;
    box-shadow: 0 2px 15px 0 rgba(170, 170, 170, 0.2), 0 2px 5px 0 rgba(128, 128, 128, 0.19);
}
.optionsButtons{
    display:flex;
    justify-content:space-around;
    align-content:center;
    margin-bottom: 10px;
}
.colorpicker{
    margin-top: 5px;
}
.buttons{
    background-color: #7d4fb9; /* Green */
    border: none;
    color: white;
    padding: 12px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor:pointer;
    border-radius: 2px;
}
.buttons:hover{
    background-color: #c793df; /* Green */
    color: rgb(95, 95, 95);
    
}
.optionsText{
    justify-content:center;
    align-items:center;
    display:flex;
    color:rgb(88, 88, 88);
    border-bottom: 1px solid rgb(167, 167, 167);
    margin-bottom: 15px;
}
.optionsText p{
    font-family: 'Roboto', sans-serif;
    text-align:justify;
    margin: 10px 5px 10px 5px;
}
.drawDiv{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    background-color:rgb(230, 230, 230);
}
.drawContent{
    box-shadow: 0 2px 15px 0 rgba(170, 170, 170, 0.2), 0 2px 5px 0 rgba(128, 128, 128, 0.19);
    display: grid;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}
.square{
 
    background-color: rgb(255, 255, 255);
}
.defaultState{
    background-color:rgb(255, 255, 255);
}
.changeColor{
    background-color:rgb(126, 66, 182);
}
.footerContainer{
    float:left;
    background-color: rgb(155, 155, 155);
    display:flex;
    margin-top: 200px; 
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .drawContent{
        width: 300px;
        height: 300px;
    }
}